.fa.fa-shopping-cart {
  font-size: 35px;
  color: rgb(34,142,251);
}

#contacto {
  margin-right: 425px;
}

#title-index {
  font-size: 72px;
}

#subtitle-index {
  font-size: 27px;
}

#logo {
  width: 50px;
}

#contact-form {
  margin-top: 145px;
}

#login-form {
  margin-top: 70px;
}

#payment-form {
  margin-top: 70px;
}
.NoScroll{
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}
#canal1 {
    border: 5px solid black;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#seccionFrontEndUser {
    margin: 30px;
    padding: 30px;
}
